@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.github.com/en/actions/learn-github-actions/introduction-to-github-actions">Github Actions here in RoundUP</a>.</p>
</div>
